.navbar{
    padding: 0%;
}
.container-fluid{
background-color: bisque;
padding: 10px;
}
.navbar > .container-fluid{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
.navbar-brand{
    font-size: 30px;
}
ul{
    font-weight: bolder;
    list-style-type: none;
    opacity: 60%;
}
.lead{
    font-weight: bolder;
    opacity: 70%;
}
ul{
    display: grid;
    grid-template-columns: 1fr
    1fr ;
    grid-auto-rows: min-content;
}
    